.slider {
  /* Estilos para el contenedor principal */
}

.img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 400px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Capa negra con transparencia */
}

.full-width-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -50px;
  margin-bottom: -50px;
}

.txt {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translate(0, -50%);
  text-align: left;
  color: #fff;
}

.btn-position {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
}

@media (max-width: 767px) {
  .full-width-img {
    height: 600px;
  }
  .overlay {
    height: 100% ;
  }
}
